extends: default
ignore: |
  .tox
rules:
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  truthy:
    check-keys: false
  document-start: disable
  line-length: disable
