---
# See https://github.com/ansible/devtools/blob/main/.github/workflows/push.yml
name: push
on:
  push:
    branches:
      - main
      - "releases/**"
      - "stable/**"
  workflow_dispatch:

jobs:
  ack:
    permissions: {}
    uses: ansible/team-devtools/.github/workflows/push.yml@main
